.aboutCover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../public/images/cover_images/about.jpg") no-repeat center center
      fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: black;
  display: table;
  width: 100%;
}

@media (max-width: 800px) {
  .aboutCover {
    background-attachment: scroll;
  }
}

.coverTitleContainer {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.coverTitle {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 1.4;
}
