.homeCover {
  background: url("../../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: white;
  display: table;
  width: 100%;
}

.homeTitle {
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .homeTitle {
    padding-bottom: 100px;
  }
}

.homeTitle h1 {
  font-size: 140px;
  font-family: "Georgia";
  font-weight: 100;
  margin-bottom: 5px;
}

.homeTitle hr {
  border: none;
  height: 2px;
  color: white;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 160px;
}

.homeTitle h2 {
  font-size: 26px;
  font-family: "Georgia";
  font-weight: 100;
}
