.hover_shadow_box {
  transition: 0.5s;
}

.hover_shadow_box:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.hover_shadow_box_raise {
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.hover_shadow_box_raise:hover {
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
