.button {
  margin: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

.activeButton {
  background-color: #330099;
  color: white;
}

.inactiveButton {
  background-color: #eeeeee;
  color: black;
}

.inactiveButton:hover {
  background-color: #d8d8d8;
}
