.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: contain;
  padding: 0 10px;
}

@media (max-width: 800px) {
  .logo {
    max-width: 100px;
  }
}
