.title {
  margin: 0 auto;
  margin-top: 15vh;
  text-align: center;
}

.title h1 {
  font-size: 140px;
  font-family: "Georgia";
  font-weight: 100;
  margin-bottom: 5px;
}

.title hr {
  border: none;
  height: 2px;
  color: white;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 160px;
}

.title h2 {
  font-size: 26px;
  font-family: "Georgia";
  font-weight: 100;
}
