.navbar {
  text-align: center;
  height: 80px;
  position: fixed;
  width: 100%;
}

.navbar ul {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}

.navbar li {
  margin: 10px 20px 10px 20px;
  display: inline-block;
}

.navbarDesktop {
  display: none;
}

.navbarMobile {
  display: block;
}

.navbarMobileMenu {
  text-align: center;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.navbarMobileMenu ul {
  align-items: center;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.navbarMobileMenu li {
  margin: 20px;
  display: block;
}

@media (min-width: 800px) {
  .navbarDesktop {
    display: block;
  }

  .navbarMobile {
    display: none;
  }

  .navbarMobileMenu {
    display: none;
  }
}

.navbarSolid {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.navbarSolid a {
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}

.navbarTransparent a {
  text-transform: uppercase;
  text-decoration: none;
}

.menuButton {
  float: right;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px;
}
