.navbar {
  text-align: center;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbarBackgroundSolid {
  height: 80px;
  width: 100%;
  position: fixed;
  background: rgb(0, 0, 0);
  z-index: 1;
  transition: 100ms linear;
}

.navbarBackgroundTransparent {
  height: 80px;
  width: 100%;
  position: fixed;
  opacity: 0;
  transition: 100ms linear;
}

.navbar ul {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}

.navbar li {
  margin: 10px 20px 10px 20px;
  display: inline-block;
}

.navbarDesktop {
  display: none;
}

.navbarMobile {
  display: block;
}

.navbarMobileMenu {
  text-align: center;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: #fcfcfc;
  z-index: 1;
  opacity: 1;
  transition: opacity 100ms linear;
}

.navbarMobileMenu.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms linear, visibility 100ms linear;
}

.navbarMobileMenu ul {
  align-items: center;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.navbarMobileMenu li {
  margin: 20px;
  display: block;
}

.navbarMobileMenu a {
  text-transform: uppercase;
  color: #303030;
  text-decoration: none;
  font-family: Georgia, serif;
  letter-spacing: 0.05em;
}

@media (min-width: 800px) {
  .navbarDesktop {
    display: block;
  }

  .navbarMobile {
    display: none;
  }

  .navbarMobileMenu {
    display: none;
  }
}

.navbarSolid {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #303030;
}

.navbarSolid a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: Georgia, serif;
  letter-spacing: 0.05em;
}

.navbarSolid li {
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom 100ms linear;
}

.navbarSolid li:hover {
  border-bottom: 2px solid #f7f5f5;
  transition: border-bottom 100ms linear;
}

.navbarTransparentWhite a,
.navbarTransparentBlack a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Georgia, serif;
  letter-spacing: 0.05em;
}

.navbarTransparentWhite a,
.navbarTransparentWhite button {
  color: #fcfcfc;
}

.navbarTransparentWhite li:hover {
  border-bottom: 2px solid #fcfcfc;
}

.navbarTransparentBlack a,
.navbarTransparentBlack button {
  color: #ffffff;
}

.navbarTransparentBlack li:hover {
  border-bottom: 2px solid #ffffff;
}

.navbarTransparentWhite li,
.navbarTransparentBlack li {
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom 100ms linear;
}

.navbarTransparentWhite li:hover,
.navbarTransparentBlack li:hover {
  transition: border-bottom 100ms linear;
}

.brandButton {
  float: left;
}

.menuButton {
  float: right;
}

.brandButton,
.menuButton {
  height: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  color: #303030;
}
