.layoutHome {
    background: url("./background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100vh;
    color: white;
}

.layout {
    color: #505050;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 100px;
}