.navbar {
  text-align: center;
  margin-bottom: 20px;
  height: 80px;
  position: fixed;
  width: 100%;
}

.navbar ul {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}

.navbar li {
  margin: 10px 20px 10px 20px;
  display: inline-block;
}

.navbarSolid {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.navbarSolid a {
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}

.navbarTransparent a {
  text-transform: uppercase;
  text-decoration: none;
}
