.image
{
    display: block;
    margin: 0 auto !important;
    width: 85%;
}

.title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.description {
    color: "#999";
    font-weight: 100;
    font-size: 16px;
    line-height: 1.9;
    padding: 10px 20px;
    text-align: left;
}
